div {
    border: 1px solid black;
    margin: 20px;
    width: 500px;
    padding: 5px;
}

.h2__p:hover {
    color: rgba(234, 0, 255, 0.808);
}

.section1 p:first-child {
    color: royalblue;
}

.section1 p:nth-child(2) {
    color: rgb(58, 172, 5);
}

/* or */
.section1 p:nth-child(2n) {
    color: rgb(58, 172, 5);
}

.section1 p:last-child {
    color: rgb(225, 65, 65);
}

.section1 p a:first-of-type {
    color: slateblue;
}

.section1 p a:last-of-type {
    color: rgb(10, 196, 56);
}

.h2__ul li:not(.li1) {
    color: teal;
}

.before::before{
    content: "It's me";
    color: tomato;
    padding-left: 5px;
    font-style: italic;
}

.after::after{
    content: "It's me";
    color: rgb(71, 255, 86);
    padding-left: 5px;
    font-style: italic;
}